<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
</head>
<body>
<div class="container">
    <h1>SackMoyesNow.com</h1>
    <br />
    <br />
    <p>
        This site was made for fun, but soon turned out to be not funny at all as United regressed from being a title winning side to top 4 challenger.<br />  
        We, ironically, don't want Moyes to be sacked right now, but believe he should get the boot if the following patterns continues:
        <br />     
        <br /> 
        <ul  class="list-group">
            <li class="list-group-item">Negative lineup and tactics with the intention of avoiding defeat instead of going out to win the match</li>
            <li class="list-group-item">The usual suspects (Young, Welbeck, Giggs, Valencia etc.) getting picked match after match despite horrendous performances</li>
            <li class="list-group-item">Horrible interviews belittling the team quality and players</li>
            <li class="list-group-item">Failure to acknowledge the expectation of United'. We don't aim for top 4 , we aim for the title. We dont play to draw against big sides, we go out to win. We don't defend 1-goal leads, we get a 2-goal lead to create a buffer incase the opponents flukes a header in the dying minutes</li>
            <li class="list-group-item">Apply a pass and move style, or better apply your own style just dont hoof it upto Fellaini or whoever tall player is up front.</li>
        </ul>
       
        <br />
        Still, he might come good, but time is certainly running out. And the pressure will rightfully build up...
        <br />
        <br />
        <br />
        <br />
        <h4>05.12.2013</h4>
        <h3>Admin</h3>
    </p>
</div>
</body>
</html>
